/* Global styles here */
html {
  scroll-behavior: smooth;
}




/* page transitions */
/* set animation speed */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
/* set animations */
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translate(100%);
}