/* Global styles here */
html {
  scroll-behavior: smooth;
}

.v-card.v-card.v-card {
  border-top: 3px solid #FFC107;
}

/* page transitions */
/* set animation speed */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
/* set animations */
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translate(100%);
}